.resetheading{
    display: flex;
  flex-direction: row;
  margin-left: 465px;
  margin-top: 30px;
}
  
  .resetpass-formprofile {
    align-items: center;
    width: 65%;
    height: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px #95B7B7;
    margin-left: 230px;
    margin-top:55px;
  }
  
 .resetpasscontent{
  margin-left: 70px;
 }

  .resetpass-formprofile h2 {
    text-align: center;
    color: #95B7B7;
    font-size: 35px;
    font-weight: 700;
  }
  
  
  .resetpass-form{
    margin-top: 60px;
  }

 

  .form-group {
    margin-bottom: 10px;
    width: 48%; /* Set the width to 48% to fit two inputs in a single row */
  }

  .form-group1 {
    margin-bottom: 10px;
    width: 5%; /* Set the width to 48% to fit two inputs in a single row */
    margin-left: 200px;
  }
  
 .resetpass-form label {
    display: block;
    font-weight: 500;
    color: #526564;
    margin-left: 210px;
  }
  
  .resetpass-form input {
    width: 150%;
    padding: 10px;
    background-color: #F1F1F1;
    border: 1px solid #F1F1F1;
    border-radius: 15px;
    border: 1px solid #95B7B7;
    width: 200px;
    margin-left: 210px;
  }
  


.label1{
    display: block;
    font-weight: 500;
    color: #526564;
    margin-left: 100px;
}

  button {
    border: none;
  background-color: #5B8B88; /* Set the button background color */
  color: white; /* Set the text color */
  padding: 10px 20px; /* Set padding for the button */
  border-radius: 25px; /* Set a border-radius for rounded edges */
  cursor: pointer; /* Change the cursor on hover */
  font-size: 16px; /* Set the font size */
  width: 200px;
  margin-left: 220px;
  }
  
  button:hover {
    background-color: #526564; /* Change the background color on hover */
  }

  .editiconclass{
    height: 40px;
  }
  
.message-box2{
  margin-left: -80px;
  color: #526564;
}

.subscribe-form select{
  background-color: #F9F3EF;
  margin-left: 30px;
}

 